.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1px 2px; 
    width: 150% auto;
    background-color: #3b1c5e;
    color: white;
    text-align: center; 

} 

.logo{
    height: 200px; 
   padding-top: -105px; 
    padding-bottom: -105px; 

}