body{
    background-color: #442480;
    color: #D9D9D9;
}
.logIn-button:hover{
        color: rgb(101, 251, 8);
    }

@media only screen and (max-width: 440px)
{

    .dex-logo{
        height: 30%;
        width: 30%;
        display: block;
        margin: auto;
    }
    .create-account,.reset-pass{
        color:gray;
        font-size: 13px;
        text-decoration: none;
    }
    .logIn-Form{
        text-align: center;
    }
    .label-title{
        margin-right:90px
    }
    .input-label{
        border-radius: 30px;
    }
    .pass{
        font-size: 10px;
        margin-left:70px;
    }
    .account{
        margin-left:30px;
        font-size: 10px;
    }
    .logIn-button{
        padding-left:50px;
        padding-right:50px;
        border-radius: 20px;
        font-size: 12px;
    }
    
    .logIn-button:hover{
        color: rgb(251, 8, 8);
    }


}