@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    background-color: #442480;
    color: #d9d9d9;
}

.fluid-background {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.slogan-login {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 30px;
}

.dex-logo {
    height: 30%;
    width: 30%;
    display: block;
    margin: auto;
}
.create-account,
.reset-pass {
    color: gray;
    font-size: 13px;
    text-decoration: none;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.logIn-Form {
    text-align: center;
    position: absolute;
}
.label-title {
    margin-right: 90px;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.input-label {
    border-radius: 30px;
}
.pass {
    font-size: 10px;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.account {
    font-size: 10px;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.logIn-button {
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
    transition: 0.6s;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
}

.logIn-button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}

/* Desktop styles */
@media (min-width: 441px) {
    .logIn-Form {
        width: 400px;
        /* margin: 60px auto; */
        align-items: center;
        /* background: rgba(34, 20, 60, 0.85); */
        border-radius: 24px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        padding: 10px 32px;
        margin-top: 50px;
    }
    .dex-logo {
        width: 50%;
        height: 50%;
    }
    .input-label {
        width: 90%;
        font-size: 18px;
        padding: 10px 16px;
    }
    .label-title {
        margin-left: -230px;
    }
    .logIn-button {
        font-size: 18px;
        padding: 12px 60px;
    }
    .create-account {
        font-size: 18px;
    }

    .log-link {
        text-decoration: none;
    }

    .logIn-button:hover {
        background-color: #341b63;
        color: #d9d9d9;
        transition: 0.5s ease ease-in-out;
        border-color: #341b63;
    }

    .account {
        font-size: 14px;
        margin-left: 0;
    }
}
